# Copyright (c) 2022 Contributors to the Suwayomi project
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build

on:
  push:
    branches: ["Release"]

jobs:
  GenTag:
    outputs:
      value: ${{steps.GenTagName.outputs.value}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Generate Tag Name
        id: GenTagName
        shell: bash
        run: |
          genTag="r$(git rev-list HEAD --count)"
          echo "$genTag"
          echo "value=$genTag" >> $GITHUB_OUTPUT
  buildDocker:
    needs: GenTag
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: string
        uses: ASzc/change-string-case-action@v5
        with:
          string: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.string.outputs.lowercase }}:latest,${{ steps.string.outputs.lowercase }}:${{ needs.GenTag.outputs.value }},
  build:
    needs: GenTag
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 19
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - name: Pushes web files to the gh-pages repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.DEPLOY_PAGES_TOKEN }}
        with:
          source-directory: "dist/pwa"
          destination-github-username: "tachidesk-vui"
          destination-repository-name: "tachidesk-vui.github.io"
          user-email: n/a
          target-branch: main
      - name: Generate zip
        run: zip -r  Tachidesk-VUI-Web.zip ./dist/pwa/*
      - name: Upload CI Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "Tachidesk-VUI-Web.zip"
          allowUpdates: "true"
          tag: ${{ needs.GenTag.outputs.value }}
  buildElectron:
    strategy:
      matrix:
        os-versions: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os-versions }}
    needs: GenTag
    steps:
      - name: if win/linux
        shell: bash
        id: winlin
        run: |
          if [[ "${{ matrix.os-versions }}" == "windows-latest" ]]; then
            echo "artifacts=dist/electron/Packaged/Tachidesk-VUI-electron-win-*.exe,dist/electron/Packaged/Tachidesk-VUI-electron-win-*.msi" >> $GITHUB_OUTPUT
          else
            echo "artifacts=dist/electron/Packaged/Tachidesk-VUI-electron-linux-*.*" >> $GITHUB_OUTPUT
          fi
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 19
        uses: actions/setup-node@v3
        with:
          node-version: 19
          cache: "npm"
      - run: npm ci
      - run: npm run buildElectron
      - name: Upload CI Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: "true"
          artifacts: ${{ steps.winlin.outputs.artifacts }}
          tag: ${{ needs.GenTag.outputs.value }}
