# Copyright (c) 2022 Contributors to the Suwayomi project
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  pull_request:
    branches: ["Release"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js 19.x
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Generate Tag Name
        id: GenTagName
        run: |
          genTag="r$(git rev-list HEAD --count)"
          echo "$genTag"
          echo "value=$genTag" >> $GITHUB_OUTPUT
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: string
        uses: ASzc/change-string-case-action@v5
        with:
          string: ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.string.outputs.lowercase }}:latest,${{ steps.string.outputs.lowercase }}:${{ steps.GenTagName.outputs.value }},
      - run: npm ci
      - name: build for pages
        run: PUBPATH=/Tachidesk-VUI/ npm run build
      - name: Deploy Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/pwa # The folder the action should deploy.
      - run: npm run build
      - name: Generate zip
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r release.zip dist/pwa
      - name: Upload CI Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release.zip"
          tag: ${{ steps.GenTagName.outputs.value }}
