# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - name: Generate Tag Name
      id: GenTagName
      run: |
        genTag="r$(git rev-list HEAD --count)"
        echo "$genTag"
        echo "value=$genTag" >> $GITHUB_OUTPUT
#     - uses: montudor/action-zip@v1
#       with:
#         args: zip -qq -r dist.zip main/dist/
    - uses: vimtor/action-zip@v1
      with:
        files: main/dist/
        dest: dist.zip
    - uses: actions/upload-artifact@v1
      with:
        name: my-artifact
        path: ${{ github.workspace }}/dist.zip
#     - name: Upload CI Release
#       uses: ncipollo/release-action@v1
#       with:
#         artifacts: "dist.zip"
#         tag: ${{ steps.GenTagName.outputs.value }}
